* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: relative;
}

.container:nth-child(1) {
	background-color: #172d42;
}

.container:nth-child(2) {
	background-color: #9ed2e7;
}

.container:nth-child(3) {
	background-color: #ff7083;
}

.container:nth-child(4) {
	background-color: #d5c2bd;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform-origin: left;
	border-radius: 10px;
}

.reveal {
	position: relative;
	width: 80%;
	height: 80%;
	max-width: 500px;
	border-radius: 10px;
	overflow: hidden;
	visibility: hidden;
}